@charset "UTF-8";
body {
  font-family: "黑体" !important;
  overflow: hidden;
}

.next_btn {
  width: 80px;
  height: 30px;
  position: absolute;
  left: 110px;
  bottom: 26px;
  z-index: 100;
  background: url("../../img/shuizhi/next1.png") no-repeat;
  cursor: pointer;
}

.next_btn:hover {
  background: url("../../img/shuizhi/next11.png") no-repeat;
}

.prev_btn {
  width: 80px;
  height: 30px;
  position: absolute;
  left: 22px;
  bottom: 26px;
  z-index: 100;
  background: url("../../img/shuizhi/prev1.png") no-repeat;
  cursor: pointer;
}

.prev_btn:hover {
  background: url("../../img/shuizhi/prev11.png") no-repeat;
}

#stylelist {
  position: absolute;
  height: 30px;
  line-height: 30px;
  bottom: 26px;
  right: 20px;
  z-index: 100;
  border-radius: 6px;
}

/*
 * content_wrap开始
 * */
.content_wrap {
  width: 1024px;
  height: 768px;
  color: #fff;
  background: url(../../img/public/bg.png) no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
.content_wrap .content_main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 698px;
  padding: 0 10px;
  position: relative;
}
.content_wrap .content_main .title_tip {
  width: 100%;
  height: 40px;
  color: #144479;
  font-size: 20px;
}
.content_wrap .content_main .title_tip span {
  float: left;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 19px;
  background: url("../../img/public/title_bg.png") no-repeat 0 center;
}

.content {
  width: 100%;
  height: 647px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../../img/shuizhi/ditu_bg.png") no-repeat;
  background-size: 100% 100%;
  padding: 3px;
  position: relative;
}
.content .choose_box {
  width: 100%;
  height: 100%;
}
.content .water_source {
  width: 338px;
  height: 490px;
  padding: 0 10px;
  background: rgba(13, 47, 85, 0.9);
  position: absolute;
  left: 22px;
  top: 65px;
}
.content .water_source .local {
  height: 44px;
  font-size: 22px;
  color: #fff200;
  line-height: 44px;
  padding-left: 122px;
  background: url(../../img/shuizhi/local.png) no-repeat 92px center;
}

.per_choose {
  height: 72px;
  font-size: 16px;
  border-bottom: 1px dashed #8f9eaa;
}
.per_choose .choose_tip {
  line-height: 28px;
}
.per_choose .input_choose {
  width: 100%;
  height: 24px;
  margin: 10px 0;
}
.per_choose .input_choose input[type="radio"] + label {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  margin-right: 16px;
}
.per_choose .input_choose label:last-child {
  margin-right: 0px !important;
}
.per_choose .input_choose input[type="radio"] + label::before {
  content: "\a0";
  /*不换行空格*/
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  width: 22px;
  height: 22px;
  margin-right: 5px;
  margin-top: -5px;
  border-radius: 50%;
  border: 2px solid #5582a7;
}
.per_choose .input_choose input[type="radio"]:checked + label::before {
  width: 12px;
  height: 12px;
  background-color: #fff200;
  background-clip: content-box;
  padding: 5px;
}
.per_choose .input_choose input[type="radio"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.per_choose .input_choose2 input[type="radio"] + label {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin-right: 22px;
}

.water_source .per_choose:last-child {
  border-bottom: none;
}

.per_choose label {
  font-size: 20px;
  float: left;
  width: 108px;
  height: 24px;
  line-height: 24px;
  cursor: pointer;
  margin-bottom: 10px;
}
.per_choose label input[type=checkbox] {
  float: left;
  position: relative;
  width: 22px;
  height: 22px;
  border: 2px #5a87aa solid;
  -webkit-appearance: none;
  cursor: pointer !important;
}
.per_choose label input[type=checkbox]:before {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  top: 0px;
}
.per_choose label input[type=checkbox]:checked:before {
  width: 21px;
  height: 22px;
  background: url(../../img/shuizhi/dui.png) no-repeat -1px -2px;
}
.per_choose label span {
  float: left;
  margin-left: 5px;
}
