/*------------------------------------基本样式------------------------------------*/
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,big,cite,code,del,em,font,img,ins,small,strong,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{margin: 0;padding: 0;}
body{font: 12px/150% Arial,Verdana,"宋体","微软雅黑";background: #fff url(../image/hdbg03.jpg) no-repeat center top;overflow-x: hidden;}
ul,ol,li{list-style-type: none;}
a,img,div,form,ul,ol,li,span,p,dl,dt,dd{border: 0 none;}
a{text-decoration: none;color: #333;}
table,td,input,textarea{font-size: 12px;}
h1,h2,h3,h4,h5,h6{font-size: 12px;font-weight: normal;}
nav{width: 100%;height: 48px;background: rgba(255,255,255,0.2);border-top: 1px solid rgba(255,255,255,0.2);border-bottom: 1px solid rgba(0,0,0,0.1); margin:0 0 30px;}
nav ul{list-style: none; width: 720px; margin: 0 auto; line-height: 48px; height: 48px;}
nav ul li{float: left; padding: 8px 15px 8px 0; line-height: 32px; vertical-align: middle; margin:0 10px 0 0;font-family:"微软雅黑";}
h1{margin:90px auto 59px;}
h1,h1 a{display:block;height:61px;line-height:45px; width: 700px; font-family: 'Spirax', cursive; font-size: 52px; color: #fefefe; -webkit-transition: color .4s ease-in-out; -moz-transition: color .4s ease-in-out; -ms-transition: color .4s ease-in-out; -o-transition: color .4s ease-in-out; transition: color .4s ease-in-out;}
nav ul li a{display: block; line-height: 32px; padding: 0 20px; border-radius: 3px 3px; background: rgba(0, 0, 0, 0.6); color: #fff; font-size: 15px; -moz-transition: background .4s ease-in-out; -ms-transition: background .4s ease-in-out; -o-transition: background .4s ease-in-out;-webkit-transition: background .4s ease-in-out;transition: background .4s ease-in-out; float: left; margin: 0 20px 0 0;}
nav ul li a:hover{background: rgba(0,0,0,0.8); text-decoration: none;}

.index{width: 720px;margin: 0 auto;font: 14px/1.5 tahoma,arial,"Hiragino Sans GB",\5b8b\4f53;}
.index_co{width: 720px;padding: 50px 0;margin: 0 auto;border-bottom:1px solid #c8c8c8;font-family:Arial,"Times New Roman", Times, Helvetica, "微软雅黑","\5b8b\4f53", sans-serif;}
.index_co:last-child{ border:0 none;}
.index_co h2 {
    font-size: 24px;
    margin:16px 0 0;
	position:relative;
	display:inline-block;
}
.index_co h2 a{
    font-size: 30px;
    line-height: 46px;
    color: #000;
    /* -moz-transition: border-bottom 0.3s ease 0s;
    -ms-transition: border-bottom 0.3s ease 0s;
    -o-transition: border-bottom 0.3s ease 0s;
    -webkit-transition: border-bottom 0.3s ease 0s;
    transition: border-bottom 0.3s ease 0s; */
    position:relative;
}
.index_co h2 a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -10px;
    left: 0;
    background-color: #f00;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
.index_co h2 a:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}
/* .index_co h2 a:hover{ border-bottom:2px solid #0088cc; border:0 none;}
.index_co h2 a::after {
    background: #f00 none repeat scroll 0 0;
    bottom: -5px;
    content: "";
    display: inline-block;
    height: 3px;
    left: 0;
    position: absolute;
    transition: all 0.3s ease 0s;
    width: 0;
}
.index_co h2 a:hover::after{
    width: 100%;
} */
.index_co span{
	display:block;
    margin:30px 0 10px;
    color: #A7AAB1;
    font-size: 15px;
    line-height: 22px;
    font-family: Arial,"Times New Roman", Times, Helvetica, "\5b8b\4f53", sans-serif;
}
.index_co >a{
    font-size: 16px;
    display: inline-block;
    padding: 4px 18px 4px 18px;
    border-radius: 3px 3px;
    text-align: center;
    background: #0088cc;
    color: #fff;
    -moz-transition: background .4s ease-in-out;
    -ms-transition: background .4s ease-in-out;
    -o-transition: background .4s ease-in-out;
	-webkit-transition: background .4s ease-in-out;
    transition: background .4s ease-in-out;
	font-family:"微软雅黑";
}
.index_co > a:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.8);
}
.index_co em{ font-style:normal;font-size: 18px;color: #22272A;margin-bottom: 10px; display:block;font-family: "微软雅黑";}