/*-----------------------基本样式------------------------*/
*{padding:0; margin:0;}
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,big,cite,code,del,em,font,img,ins,small,strong,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{margin:0;padding:0;}
body{font:12px/150% Arial,Verdana,"宋体","微软雅黑";}
ul,ol,li{list-style-type:none;}
a,img,div,form,ul,ol,li,span,p,dl,dt,dd{border:0 none;}
a{text-decoration:none;color:#333;}
table,td,input,textarea{font-size:12px;}
h1,h2,h3,h4,h5,h6{font-size:12px;font-weight:normal;}

html{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; overflow:hidden;}
.body{overflow:hidden;position:fixed;top:50%;left:50%;}
.index{}
.header1{width:100%;height:10px;background:rgba(255,255,255,0);position:absolute;left:0;top:0;z-index: 99999;}
.header{width:100%;height:66px;background:#165abb;position:absolute;left:0;top:-66px;z-index: 100;transform-origin: 0% 0% 0px;}
.header > span{float:left;height:66px;line-height:66px;margin:0 20px;font-size:28px;color:#fff;font-family:"黑体"; }
.header_right{height:66px;float:right;margin:0 10px;}
.header_right a{height:66px;line-height:66px;display:block;float:right;color:#fff;font-family:"黑体",Helvetica,Tahoma,Arial;}
.header_right a span{width:100%;height:37px;display:block;font-size:16px;}
.header_right a span:first-child{line-height:48px;}
.header_right a:hover span:first-child{color:#0fb1d6;}
.header_right a span:last-child{font-size:12px;height:29px;line-height:20px;text-indent:15px;}
.header_right a span:last-child em{display:block;width:27px;height:23px;float:right;margin:-2px 10px 0 0;background:url(../img/down.png) no-repeat center center;}
.header > a{
  margin:0 20px;
  display: block;
  height: 61px;
  line-height:66px;
  font-size: 18px;
  float: left;
  padding: 0 30px;
  color: #fff;
  font-family:"黑体";
}
.header > a.active{
  border-bottom: 5px solid #4985da;
}
.index_gj{
  width: 748px;
  height: 181px;
  background:url(../img/bg.png) no-repeat;
  position: fixed;
  left: 30.5%;
  bottom: 20px;
  z-index: 11;
  border-radius:5px;
  transform-origin: 0% 0% 0px;
}
.index_gj p{
  width: 370px;
  height: 38px;
  margin: 10px auto;
}
.index_gj p a{
  width: 170px;
  height: 39px;
  float: left;
  display: block;
  font-size: 16px;
  text-align: center;
  color: #fff;
  line-height: 39px;
  background:url(../img/index_gj_btn.png) no-repeat;
  margin: 0 5px;
  font-family: 微软雅黑;
}
.index_gj p a.active{
  background:url(../img/index_gj_btn1.png) no-repeat;
}
.index_gj ul{
  width: 100%;
  margin: 0 0 0 20px;
}
.index_gj ul li{
  width: 125px;
  height: 102px;
  background:url(../img/index_gj_car.png) no-repeat;
  margin: 0 20px 0 0;
  float: left;
  cursor:pointer;
}
.index_gj ul li img{
  width: 80px;
  height: 58px;
  display: block;
  margin: 10px auto 5px;
}
.index_gj ul li.active1{
  background:url(../img/index_gj_car1.png) no-repeat;
}
.index_gj ul li span{
  font-family: 微软雅黑;
  display: block;
  font-size: 16px;
  text-align: center;color: #fff;
}

/*-------------------------数据分析-------------------------*/
.main{
  width: 100%;
  height: 100%;
}
.left_nav{ 
  position:relative;
  height:100%;
  width:280px;
  float:left;
  margin-right:0 !important; 
  margin-right:-3px;
  overflow:auto;
  overflow-x:hidden;
  font-size:12px;
  font-family:"微软雅黑",Tahoma,Geneva,sans-serif;
  background:#202c3b;
  z-index:1;
  }
.left_nav ul li h2{
  width: 100%;
  height: 56px;
  line-height: 56px;
  font-size: 18px;
  color: #afc1c6;
  font-family:"微软雅黑",Tahoma,Geneva,sans-serif;
  text-indent: 56px;
  cursor: pointer;
}
.left_nav ul li h2.active{
  color:#01b4ff;
}
.left_nav ul li:first-child h2{
  background:url(../img/bb.png) no-repeat 20px center;
}
.left_nav ul li h2{
  background-repeat:no-repeat;
  background-position:20px 16px;
}
.left_nav ul li .list li{
  width: 100%;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  font-family:"微软雅黑";
  text-indent: 53px;
  cursor:pointer;
}
.left_nav ul li .list li a{
  color: #fff;
  width: 100%;
  height: 100%;
  display: block;
}
.left_nav ul li .list li a.active{
  background:rgb(67, 82, 100);
  color: rgb(255, 255, 255);
}
.left_nav ul li .list li.active a{
  color: #0fb1d6;
}
.left_nav ul li:first-child .list li:nth-child(1),
.left_nav ul li:first-child .list li:nth-child(2),
.left_nav ul li:first-child .list li:nth-child(3){
}
.left_nav ul li .list{
  background:#2e3e51;
  display: none;
  padding: 10px 0;
}

.main_co{
  padding:10px;
  float: right;
}
.main_table{
  width: 99.8%;
}
.main_table h2{
  background: #5776a3 url(../img/line_bg.png) no-repeat 10px 10px;
  width:100.2%;
  height: 39px;
  border-radius: 5px 5px 0px 0px;
  line-height: 39px;
  font-size: 18px;
  font-family: 微软雅黑;
  color: #fff;
  text-indent: 35px;
}
.main_table h2 a{
  float: right;
  width: 27px;
  height: 27px;
  margin-right: 10px;
  margin-top: 7px;
  display: block;
  background: url(../img/table_btn.png) no-repeat;
}
.main_table h2 a:last-child{
  background: url(../img/line_btn.png) no-repeat;
}
.main_table h2 a:hover,.main_table h2 a.active{
  background-position: 0px -27px;
}
.main_active{
  width: 100%;
  border-width: 0px 1px 1px;
  border-style: solid;
  border-color: rgb(255, 255, 255) rgb(196, 205, 216) rgb(196, 205, 216);
}
.main_chart{
  padding: 10px 0;
  width: 100%;
  height: 700px;
}

.tableDiv table{
  width: 100%;
  border-right: 1px solid #dddddd;
  font-family:"微软雅黑",黑体;
}
.tableDiv table thead{
  height:20px;
  font-size:16px;
  background: #f2f2f2;
  background: -moz-linear-gradient(top,#f8f8f8 0,#ececec 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f8f8f8),color-stop(100%,#ececec));
  background: -webkit-linear-gradient(top,#f8f8f8 0,#ececec 100%);
  background: -o-linear-gradient(top,#f8f8f8 0,#ececec 100%);
  background: -ms-linear-gradient(top,#f8f8f8 0,#ececec 100%);
  background: linear-gradient(to bottom,#f8f8f8 0,#ececec 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F8F8',endColorstr='#ECECEC',GradientType=0);
  color: #707070;
  font-weight: normal;
}
.tableDiv table thead tr th{height:20px;text-align:center;border: 1px solid #dddddd; border-left:0 none;
 font-size: 16px;font-weight: normal;}
.tableDiv table tbody tr td:last-child{border-right:0 none;}

.tableDiv table tbody tr td{height:20px;text-align:center;border-bottom:1px solid #dddddd;font-weight:normal;font-size:16px;border-right:1px solid #dddddd;
}
.tableDiv table tbody tr td:last-child{
  padding:0 5px;
}
.tableDiv table th,.tableDiv table td {
  padding: 8px;
  line-height: 20px;
}
.tableDiv1{
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.main_top{
  width: 100%;
  height: 36px;
  position: relative;
  font-family:"微软雅黑";
  margin: 0 0 20px;
}
.main_top > p{
  width: 230px;
  height: 36px;
  background: rgba(0, 0, 0, 0) url(../img/addbut_bg.png) repeat scroll 0 0;
  border: 1px solid #a6aeb7;
  border-radius: 5px;
  color: #616d73;
  font-size: 14px;
  line-height: 36px;
  cursor: pointer;
}
.main_top > p:hover{
  background:#e8ecf1; text-decoration:none;
}
.main_top > p span{
  width: 186px;
  background: rgba(0, 0, 0, 0) url(../img/timeAroww.png) no-repeat scroll right top;
  display: inline-block;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  padding: 0 36px 0 10px;
}
.timetxt{
  display: none;
  width: 400px;
  height: auto;
  background: #f2f5f7;
  border: 1px solid #a1a5a8;
  border-radius: 5px;
  position: absolute;
  top: 46px;
  z-index: 9999;
}
.timetxt dl{
  display: inline-block;
  padding:10px;
  font-size: 14px;
}
.timetxt dl dt{
  float: left;
  width: 70px;
  height: 28px;
  line-height: 28px;
  position: relative;
}
.timetxt dl dt input{
  width: 70px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
.timetxt dl dd{
  float: left;
  width: 310px;
  height: 28px;
}
.timetxt dl dd label{
  width: 100px;
  height: 28px;
  line-height: 28px;
  display:block;
  float: left;
  cursor: pointer;
  text-indent: 20px;
}
.timetxt dl dd label input{
  width: 16px;
  height: 16px;
  margin:0 5px;
}
.timetxt p{
  width: auto;
  height: 31px;
  float: right;
  margin: 10px 0;
}
.timetxt p a{
  width: 65px;
  height: 31px;
  line-height: 27px;
  display: block;
  float: left;
  color: #616d73;
  font-size: 14px;
  text-align: center;
  margin: 0 10px;
  background:url(../img/button_bg.png) no-repeat;
}
.timetxt p a:last-child{
  color: #fff;
  background:url(../img/Confirm.png) no-repeat;
}